<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataAnalyzer.Properties.Settings>
            <setting name="LastUsedDataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedScraperType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedConfigurationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedExcelConfigurationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedExcelOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedClassCreationConfigurationDirectory" serializeAs="String">
                <value />
            </setting>
        </DataAnalyzer.Properties.Settings>
    </userSettings>
</configuration>